<!DOCTYPE html>
<hml>
    <head>
        <meta chartset="utf-8">
        <title>Help Page</title> 
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>

        {{> footer}}
    </body>
</hml>