<!DOCTYPE html>
<hml>
    <head>
        <meta chartset="utf-8">
        <title>{{pageTitle}}</title> 
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</hml>